<:Title>
  Admin Dashboard

<:Body>
    <div class="row">
      <div class="col-md-6 pull-left">
        <img src="{{ current_track.imgUrl }}" alt="Album Bild" width="250px" />
      </div>
      <div class="col-md-6 pull-left">
        <ul class="list-group">
          <li class="list-group-item"><h2>{{ current_track.name }}</h2></li>
          <li class="list-group-item">Album: {{ current_track.album }}</li>
          <li class="list-group-item">Artist: {{ current_track.artist }}</li>
        </ul>
      </div>
      <div class="col-md-12">
        <audio class="player" id="player" controls="controlls">
            <source src="{{ current_track_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div class="row">
      <h3>Next Tracks</h3>
      <button type="button" name="button" e-click="add_track_to_party(true)">Add Tracks</button>
      <div class="inner-playlist">
        <div>
            {{ party_tracks.each do |track| }}
              <div class="col-sm-4">
                <div class="thumbnail">
                  <img src="{{ track.imgUrl }}">
                  <div class="caption">
                    <h5>{{ track.name }} - {{ track.artist }}</h5>
                    <p>User<span style="float:right">{{ Time.at(track.length/1000).strftime("%H:%M:%S") }}</span></p>
                  </div>
                </div>
              </div>
            {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
        <h3>Party guests</h3>
          {{ party_guests.each do |guest| }}
            <div class="panel panel-default user-panel" style="">
              <!-- Default panel contents -->
              <div class="panel-heading">
                {{guest.name}}
                <span class="pull-right">{{ guest.tracks.all.count }} Tracks</span>
              </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                      <th>
                        Image
                      </th>
                      <th>
                        Title
                      </th>
                      <th>
                        Album
                      </th>
                      <th>
                        Artist
                      </th>
                      <th>
                        Length
                      </th>
                    </thead>
                    <tbody>
                      {{ guest.tracks.reverse_each do |track| }}
                        <tr>
                          <td><img src="{{ track.imgUrl }}" width="60px"/></td>
                          <td>{{ track.name }}</td>
                          <td>{{ track.album }}</td>
                          <td>{{ track.artist }}</td>
                          <td>{{  Time.at(track.length/1000).strftime("%H:%M:%S") }}</td>
                        </tr>
                      {{ end }}
                    </tbody>
                </table>
            </div>
          {{ end }}
    </div>
