<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
      <div class="container">
      {{ if isAdmin }}
          <div class="header">
            <ul class="nav nav-pills pull-right">
              <:nav href="/admin">Home</:nav>
              <:nav href="/admin/users">Users</:nav>
              <:user_templates:menu />
            </ul>
            <h3 class="text-muted">Admin</h3>
          </div>
      {{ else }}
          <div class="header">
            <ul class="nav nav-pills pull-right">
              <:nav href="/guest/search"><i class="fa fa-search"></i> Search</:nav>
              <:nav href="/guest/playlist"><i class="fa fa-list"></i> Playlsit</:nav>
              <:user_templates:menu />
            </ul>
            <h3 class="text-muted">{{ if Volt.current_user }}{{Volt.current_user.name}}{{ else }}PartyPI{{ end }}</h3>
          </div>
      {{ end }}
          <:volt:notices />

          {{ view main_path, 'body', {controller_group: 'main'} }}
      </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>
