<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      {{ if Volt.current_user.admin }}
        <ul class="nav nav-pills pull-right">
          <:nav href="/">Home</:nav>
          <:nav href="/search">Suche</:nav>
          <:user_templates:menu />
        </ul>
        <h3 class="text-muted"><img src="{{ Volt.current_user.image }}" /></h3>
      {{ else }}
        <ul class="nav nav-pills pull-right">
          <:nav href="/playlist">Playlist</:nav>
          <:nav href="/search">Suchen</:nav>
          <:user_templates:menu />
        </ul>
        <h3 class="text-muted"><img src="{{ Volt.current_user.image }}" width="50px" height="50px" style="border-radius:100%"/></h3>
      {{ end }}
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>&copy; Company {{ Time.now.year }}</p>
    </div>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>
